body{
    background-color: oklch(63.964% 0.10134 20.217);
    color: rgb(75, 45, 45);
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: center;
    margin: 40px auto;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    background: #ca8787;
    padding: 14px 30px;
    border-radius: 50px;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: #462525;
    font-weight: 600;
    padding: 10px 18 px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background: #caafaf;
}

nav ul li a.active {
    background: #815d5d;
}

.badge {
    background: #976969;
    color: #ecdede;
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 50%;
    margin-left: 6px;
}